*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.Header{
    display: flex;
    justify-content: space-between;
    border:2px solid burlywood;
}
.nav-items{
    padding-top: 50px;
    padding-right: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.listitem{
    list-style-type: none;
    display: flex;
    gap:20px;
}

#rescard{
    width:300px;
    height: 300px;
    background-color: #D3D3D3;
    border-radius: 35px;
  
}
#food{

    width: 300px;
    height: 200px;
    /* border-radius: 10px; */
   
    
}

#resname{
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
}

#ratandtime{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    

}

p{
        font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}
