

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html,body{
 width: 100%;
 height: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #333;
}

.navcontainer {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navcontainer li {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.navcontainer li:hover {
  color: #f39c12;
}

#logos{
    border-radius: 60px;
}

#restrocard{
  width:300px;
  height: 300px;
  background-color: lightcyan;
  padding-left: 24px;
  padding-top: 20px;
  margin-top: 20px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}

#resname{
  margin-top: 10x;
}
#resadd{
  margin-top: 10px;
}
#price{
  margin-top: 10px;
}
#rating{
  margin-top: 10px;
}

#body{
  display: flex;
  gap:10px;
}